<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_FactFinderSync>
            <version>0.1.2</version>
        </Kirchbergerknorr_FactFinderSync>
    </modules>
    <default>
        <kirchbergerknorr>
            <factfindersync>
                <active>1</active>
                <log>1</log>
                <queue>10</queue>
                <cron>*/5 * * * *</cron>
                <auth_user></auth_user>
                <auth_password></auth_password>
                <attributes></attributes>
            </factfindersync>
        </kirchbergerknorr>
    </default>
    <global>
        <models>
            <factfindersync>
                <class>Kirchbergerknorr_FactFinderSync_Model</class>
            </factfindersync>
        </models>
        <resources>
            <kk_factfindersync>
                <setup>
                    <module>Kirchbergerknorr_FactFinderSync</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </kk_factfindersync>
        </resources>
    </global>
    <crontab>
        <jobs>
            <factfindersync_job>
                <schedule>
                    <config_path>kirchbergerknorr/factfindersync/cron</config_path>
                </schedule>
                <run>
                    <model>factfindersync/observer::startProductSync</model>
                </run>
            </factfindersync_job>
        </jobs>
    </crontab>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <factfindersync>
                        <!-- Add column to catalog product grid -->
                        <class>factfindersync/adminhtml_observer</class>
                        <method>onBlockHtmlBefore</method>
                    </factfindersync>
                </observers>
            </adminhtml_block_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <factfindersync>
                        <!-- Add column to product list -->
                        <class>factfindersync/adminhtml_observer</class>
                        <method>onEavLoadBefore</method>
                    </factfindersync>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kirchbergerknorr>
                                            <title>kirchbergerknorr</title>
                                        </kirchbergerknorr>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>